/*color template*/
.color-1{
    color: $color-1;
}

.color-1-bg{
    background: $color-1;
}

.color-2{
    color: $color-2;
}

.color-2-bg{
    background: $color-2;
}

.color-3{
    color: $color-3;
}

.color-3-bg{
    background: $color-3;
}

.color-4{
    color: $color-4;
}

.color-4-bg{
    background: $color-4;
}

.color-5{
    color: $color-5;
}

.color-5-bg{
    background: $color-5;
}

.color-6{
    color: $color-6;
}

.color-6-bg{
    background: $color-6;
}