/*typography classes*/
.font-rosario{
    font-family: $font-rosario;
}

.font-russo1{
    font-family: $font-russo1;
}

.font-size-36{
    font-size: 36px;
}

.font-size-24{
    font-size: 24px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-64{
    font-size: 64px;
}
